<!-- <app-home-page></app-home-page> -->
<!-- <app-register-form></app-register-form> -->
<html>
<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"> <a href="#"> Menu </a> </li>
        <li> <a href="/register">Register</a> </li>
        <li> <a href="/view-student">View</a> </li>
        <li> <a href="#">Overview</a> </li>
        <li> <a href="#">Events</a> </li>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Services</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </div>
  </div>
  <div class="row" style="background: #B3DBED;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <span style="text-align: center;">
        <button type="button" class="btn btn-danger" style="float: right; margin :17px">Logout</button>
      </span>
    </nav>
  </div>
</body>
<router-outlet></router-outlet>

</html><!-- <app-view-student-details></app-view-student-details> -->


<!-- <router-outlet></router-outlet> -->